.hidden {
  display: none;
}

#charts_div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#title_div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}