body {
  font-family: 'Roboto', sans-serif;
}

button {
  font-family: 'Roboto', sans-serif;
}

.title-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 5px;
    padding: 10px;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: blue;
}

.hidden {
  display: none;
}

#charts_div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#title_div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

#data-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#data-entry h1 {
  margin-bottom: 0px;
}

#data-entry input {
    text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}